@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-blue: #0059b3;
  --color-brand-light-blue: #e6f0ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
